nav {
  background-color: #333;
  padding: 1rem;
}
nav a {
  color: white;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
}
main {
  max-width: 840px;
  margin: 0 auto;
}
h1 {
  color: #333;
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid #000;
  padding: 2px;
  box-shadow: 0 0 10px #777;
}
aside {
  width: 300px;
  margin: 1rem;
  border: 1px solid #999;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #333;
}
aside img {
  width: 200px;
  height: auto;
}
p {
  padding: 0;
}
footer {
  margin-top: 1rem;
  border-top: 1px solid #000;
  text-align: center;
}
