main {
  max-width: 840px;  /* Limits the width */
  margin: 0 auto;    /* Centers the content */
}

aside {
  width: 20rem;          /* Set the width */
  margin: 1rem;          /* Add margin */
  border: 1px solid rgb(0 0 0 / 0.2);  /* Add a border with some transparency */
  padding: 1rem;         /* Add some padding */
  background-color: #eee; /* Light gray background */
  color: #333;           /* Dark text color */
  text-align: center;    /* Center the text */
}
aside img {
  width: 200px;  /* Set the width */
  height: auto;  /* Automatically adjust the height to maintain the aspect ratio */
}
footer {
  margin-top: 15px;      /* Add space above the footer */
  border-top: 1px solid #000;  /* Add a top border */
  text-align: center;    /* Center the footer text */
}
